.Profile {
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.Profile:hover {
    cursor: pointer;
    background-color: rgb(0, 21, 41)
}

.ProfileText {
    color: #EEEEEE;
    margin-left: 10px;
}
