.Logo {
    width: 120px;
    height: 48px;
    margin: 8px 24px 8px 0;
    float: left;
    line-height: 48px;
    color: #DDD;
    text-align: center;
}

.Logo img {
    width: 100%;
}

.Content {
    background-color: #FFF;
    height: 100%;
    padding: 24px;
    min-height: 380px;
}

:global .ant-form-item-explain {
    margin-top: 0 !important;
}
