.Panel :global .ant-collapse-header {
    font-weight: bold;
}

.SubmitButton {
    margin-top: 15px;
}

.ViewField {
    padding-left: 11px;
}

.FormInput:disabled {
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: text;
}

:global .ant-form-vertical .ant-form-item-label {
    margin-top: 8px;
    padding-bottom: 8px;
}

.DateHelpText {
    font-style: italic;
    padding: 0;
    font-size: 11px;
}
