.Panel :global .ant-collapse-header {
    font-weight: bold;
}

.SubmitButton {
    margin-top: 15px;
}

.ViewField {
    padding-left: 11px;
}

.FormInput:disabled {
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: text;
}
